#footer
	width: 100%
	color: white
	background-color: #3e3e3e
	font-family: 'PT Serif'

	p
		font-size: 20px
		margin-top: 25px

	h6
		font-size: 19px
		margin-top: 28px

	.container
		padding: 30px

	.about-area
		padding-top: 2em
		p
			padding-top: 1em
			color: #b9b9b9
			border-top: 1px solid #333333
			font-size: 0.75em
			margin-bottom: 0px

	.social-networks
		+horizontal-list
		li:not(:first-child)
			margin-left: 25px
		li
			a
				color: white
				font-size: 30px

