body
	text-decoration: none
	font-family: $roboto-family

	-webkit-font-smoothing: antialiased

.section
	width: 100%

#brasilia-aberta
	background-size: cover
	min-height: 100%
	height: 100%
	width: 100%
	background-color: #212121

	.hero
		position: relative
		height: 100%

	.hero-media
		padding: 0px
		margin: 0px
		background: url("ceu_bkg.jpg") no-repeat 50% 100%
		background-size: cover
		height: 600px

	a
		color: white

	.title
		font-size: 30px

	.description
		color: white
		font-size: 26px
		font-weight: 300
		position: absolute
		bottom: 10px

	.sub-description
		font-size: 24px
		margin: 12px 0

.starter-template
	padding: 40px 15px


.next-project
	margin-bottom: 30px
	.project-name
	.project-description
		margin: 12px 0
		font-size: 18px
	.fb-link
		margin-left: 15px

#about
	padding: 40px
	margin-right: 2.35765%

	.about-content
		display: inline-block
		margin-right: 2.35765%
		margin-right: 0
		font-size: 20px
		p
			font-family: 'PT Serif', serif
			-webkit-font-smoothing: antialiased
			line-height: 35px
			margin: 20px

#principles
	background-image: url('fundo_listrado.png')
	background-size: 5%
	background-position: top left
	padding: 60px 0px

	h4
		font-weight: bold
		font-size: 23px
		margin: 23px 0
	p
		font-size: 18px
		line-height: 1.55em
		font-family: 'PT Serif', serif
		-webkit-font-smoothing: antialiased

#partners
	padding: 80px 0px
	.partner


.section-header
	font-weight: bold
	font-size: 24px
	display: inline-block
	position: relative
	font-size: 1.2em
	text-transform: uppercase
	font-family: $roboto-condensed-family

	&:after
		content: " /"

	&.some-numbers
		margin-left: 65px


#numbers
	background-image: url('ppl_working.jpg')
	color: white

	h3
		text-align: center
		font-size: 5em

	p
		text-align: center
		font-size: 15px
		font-weight: bold

	.overlay
		width
		background: rgba(234, 41, 137, 0.85)
		padding: 80px

	.content
		font-family: $roboto-condensed-family


#events
	padding: 40px 0px
	.section-header
		margin-bottom: 30px

	p.about-event
		margin-bottom: 25px

	.how
		p, ul
			font-family: 'PT Serif', serif
			-webkit-font-smoothing: antialiased
			line-height: 30px
			font-size: 18px

		ul
			list-style-type: none
			padding: 0
			li
				margin-bottom: 25px

	p.details
		font-family: 'PT Serif', serif
		-webkit-font-smoothing: antialiased
		line-height: 1.55em
		font-size: 15px


	.next-events
		border-top: 1px solid #dddddd
		.title
			font-size: 30px
			margin-top: 10px

		.event-link
			text-decoration: none


	.date
		margin-top: 35px
		text-align: center
		font-family: $roboto-condensed-family
		color: rgb(200,200,200)

		.day
			font-size: 80px
			line-height: 65px
			margin-bottom: 0px

		.month
			font-size: 20px

	.date-first
		.day
			color: black
		.month
			color: rgb(234,41,137)

	.info
		margin: 20px 0
		border-left: 1px solid #dddddd
		text-align: left

