body 
	text-decoration: none
	
#brasilia-aberta
	padding: 20px
	background: url('fundo_bsb2.jpg')
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	width: 100%
	height: 100vh
	margin-bottom: 30px
	color: white

	a
		color: white
	.title
		font-size: 30px	
	.description
		font-size: 39px
		margin: 12px 0 
	.sub-description
		font-size: 24px
		margin: 12px 0 
.starter-template
	padding: 40px 15px
	

.next-project
	margin-bottom: 30px
	.project-name
	.project-description
		margin: 12px 0 
		font-size: 18px
	.fb-link
		margin-left: 15px
 
#about
	padding: 40px
	margin-right: 2.35765%
		
	.about-content
		display: inline-block
		margin-right: 2.35765%
		margin-right: 0
		font-size: 20px
		p
			line-height: 35px
			margin: 20px

#principles
	background-image: url(fundo_listrado.png)
	background-size: 3em
	background-position: top left

	h4
		font-weight: bold
		font-size: 23px
		margin: 23px 0
	p
		font-size: 20px

#partners
	padding: 80px
	.partner


.section-header
	font-weight: bold
	font-size: 24px
	display: inline-block
	position: relative
	
	font-size: 1.2em
	text-transform: uppercase


#numbers
	.overlay
		width
		background: rgba(234, 41, 137, 0.85)
		padding: 80px
	background-image: url('ppl_working.jpg')
	

	
	color: white
	h3
		text-align: center
		font-size: 5em
	
	p
		text-align: center
		line-height: 1.55em	
		font-size: 14px


#events
	padding: 40px
	ul
		list-style-type: none
		padding: 0

	.next-events
		border-top: 1px solid #dddddd

	.date
		text-align: center
		color: rgb(200,200,200)
		.day
			font-size: 100px

		.month
			
			font-size: 20px
	.date-first
		text-align: center
		.day
			font-size: 100px

		.month
			color: rgb(234,41,137)
			font-size: 20px
	.info
		margin: 20px 0
		border-left: 1px solid #dddddd
		text-align: left

